*.map
*.d.ts
shell.js
.DS_Store
Extras.js
whatsapp.json
src/removedInfo.ts
commitlint.config.js
persistantStorage.json
node_modules/
coverage/
sessions/
.vscode/
.husky/
WWebJS/
media/
dist/
persistant/
